<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap">
</head>
<body>
    <header class="header">
        <a href="/" class="nav-pills">Система учета парковочного пространства</a>
        <nav class="nav-pills">
          <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page">Главная</a>
          <a href="/info" class="nav-link {% if request.path == '/info' %}active{% endif %}">Информация</a>
          <a href="/addCamera" class="nav-link {% if request.path == '/addCamera' %}active{% endif %}">Добавить камеру</a>
        </nav>
      </header>
    
    {% block body %}{% endblock %}
</body>
</html>