{% extends 'base.html' %}

{% block title %}
Камера 3
{% endblock %}

{% block body %}
<h1>Камера 3. Парковочная зона слева торгового центра</h1>
<div class="global-zone">
    <div class="video-zone">
        <img src="{{ url_for('video_feed', camera=camera) }}" width="640" height="360">
    </div>
    <div class="near-zone">
        <div class="stats-zone">
            <p>Свободные места: <span id="free-spaces">0</span>/<span id="total-spaces">0</span></p>
        </div>        
        <button class="nav-link" onclick="downloadReport()">Выгрузить отчёт</button>
    </div>
</div>
<script>
    function updateStats() {
        fetch('/stats/{{ camera }}')
            .then(response => response.json())
            .then(data => {
                document.getElementById('free-spaces').textContent = data.free;
                document.getElementById('total-spaces').textContent = data.total;
            });
    }

    function downloadReport() {
    fetch('/download_report/{{ camera }}')
        .then(response => response.blob())
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = `parking_report_camera_{{ camera }}.xlsx`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('Ошибка при скачивании отчёта:', error));
}



    setInterval(updateStats, 1000); 
    updateStats(); 
</script>
{% endblock %}